name: CI

on: [push, workflow_dispatch]

env:
  CI: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Available OS's: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
        os: [ubuntu-20.04, windows-2019]
        node-version: [16.x, 14.x, 12.x]
    steps:
      - uses: actions/checkout@v3.6.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v3.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node${{ runner.node-version }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - run: npx prettier --check "src/**"
        if: runner.os == 'Linux'
      - run: npm audit --audit-level=moderate
        if: false
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3.1.2
        continue-on-error: true
        with:
          name: code-coverage-report
          path: ./packages/*/coverage/
